.prueba{
  list-style-type: none;
  display: inline;
  margin: 30px;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
}

.black-margin{
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
}

.prueba:hover{
  cursor: pointer;
  transition: 0.2s;
  border-top:4px solid #FFCD01;
  border-bottom:4px solid #FFCD01;
  color: black;
  text-shadow:
  -1px -1px 0 #FFCD01,
  1px -1px 0 #FFCD01,
  -1px 1px 0 #FFCD01,
  1px 1px 0 #FFCD01; 
}

.text-justify{
  text-align: justify
}

.text-center{
  text-align: center;
}

.logo-size{
  height: 60px;
  width: 60px;
}

.logo-technology{
  height: 100px;
  width: 100px;
}

.photo-size{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 2px solid #EBE6E0;
}

html,
body {
    margin: 0;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    color: #212529;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin-top: -75px;
}

#presentation-div{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
}

#footer {
	width: 100%;
	height: 500px;
	background: #167BBE;
  color: white;
}

#copyright {
  margin-top: -50px;
	width: 100%;
	height: 30px;
	background: #191D20;
  bottom: 0;
  color: white;
}

#Up {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.nav-fixed{
  color: white; 
  position: fixed;
  top: 0; 
  right: 0; 
  left: 0;
  z-index: 1;
  transition: 0.5s;
}

.nav-fixed-bc{
  background-color: #171613; 
  opacity: 0.8;
}

#btn-navbar-responsive{
  display: none;
}

body::-webkit-scrollbar{
  width: 5px;
  background: #011925;
}

body::-webkit-scrollbar-thumb{
  background: #FFCD01;
  border-radius: 5px;
}


@media only screen and (max-width: 1199px) {

  #navbar{
    display: none;
  }

  .change-col-8{
    flex: 0 0 91.666667% !important;
    max-width: 91.666667% !important;
  }

  .nav-fixed{
    background-color: #171613; 
    opacity: 0.8;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
    height: 100vh;
  }

  #btn-navbar-responsive {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

  .prueba{
    display: block;
  }

  #title{
    display: none;
  }

}
